@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap");
/* VARIABLES */
:root {
  --black: #222831;
  --gray: #393e46;
  --blue: #00adb5;
  --white: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
